:root{
    --backColor: #222831;
    --backColor2: #EEEEEE;
    --textColor :#00ADB5;
    --textColor2:#393E46;
}

body{
    font-family: sans-serif;
    background-color: var(--backColor2);
    height: 100%;
    margin: 0;
}
/*Start hedear*/
header {
    background-color: var(--textColor2);
    color:var(--textColor);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px ;
}
header h1 {
    align-self: center;
    font-size: 43px;
    display: flex;
    align-items: center;
}   

header ul {
    list-style: none;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

header ul li a{
    font-size: 24px;
    color:var(--backColor2);
    text-decoration: none;
}
/*End  header*/

/*Start main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00ADB5;  
    /* height: 1500px;  */
}

main form{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
main form label {
    font-size: 18px;
}
main form input,
main form select{
    padding: 5px;
    width:300px;
    font-size: 18px;
    margin-bottom: 20px;
}
main form button{    
    font-size: 24px;
    background-color: var(--backColor);
    margin-bottom: 40px;
    color: var(--backColor2);
    border: none;
}
main form button:hover{
    background: var(--backColor2);
    color: var(--backColor);
    }

/*Card*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    margin:20px;
    margin-bottom: 80px;
    background-color: #EEEEEE;
    color: #222831;
    border-radius: 20px;
    max-width: 400px;
    max-height: 250px;
    background-color: var(--textColor2);
    color: var(--backColor2);
}
.details {
    padding : 10px;
    font-size: 18px;
    
}
.img{
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.cover {
    object-fit: cover;
    width: 100%;
    height:70%;
}





/*End  main*/

/* Start Footer */
footer{
padding-top: 20px;
background-color: var(--textColor2);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100px;
}

footer ul {
    list-style: none;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

footer span{
    color: var(--textColor);
}

footer ul li a {
    font-size: 24px;
    color: var(--backColor2);
    text-decoration: none;
    padding: 40px;
}

/* End  Footer */